@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    min-height: 100%; /* Asegura que html y body ocupen el 100% de la pantalla */
    margin: 0;
    padding: 0;
    background-color: white; 
  }
  
  #root {
    min-height: 100vh; /* Asegura que el root ocupe toda la pantalla */
  }
  